---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';

const pageTitle = "About Kevin."
const identity = {
    firstName: "Kevin",
    country: "Ireland",
    occupation: "Junior Software Engineer",
    hobbies: ["software engineering", "coding", "learning about programming"],
}

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Python", "Django", "Writing Blogs"]
const hobbyColour = "navy"

/*
https://www.webfx.com/blog/web-design/about-page-guidelines/
 * who are you kevin sullivan - Software Engineer
 * What do you do?
 * When did you start?
Maybe think of the 5 Ws
*/
---

<Layout title={pageTitle}>
	<main>
		<h2>All about Kevin...</h2>
        <h2>... and my new Astro site!</h2>
        
        <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
        
        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

        <p>A few fun facts about myself:</p>
        <ul>
            <li>
                My Name is {identity.firstName}
            </li>
            <li>
                I live in {identity.country} with my lovely wife.
            </li>
            <li>
                I work as a {identity.occupation}.
            </li>
            {
                identity.hobbies.length >= 3 && (
                    <li class="hobby">
                        Three of my hobbies are: {identity.hobbies[0]}, {identity.hobbies[1]}, {identity.hobbies[2]}
                    </li>
                )
            }
        </ul>
        <p>My skills are:</p>
        <ul>
            {skills.map(skill => <li>{skill}</li>)}
        </ul>
	</main>
</Layout>

<style define:vars={{hobbyColour}}>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
    .hobby {
        color: var(--hobbyColour);
        font-weight: bolder;
    }
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
